.App{
  min-height: 550px;
  background-color: white;
  width: 550px;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  width: 100%;
  padding: 20px;
  background-image: linear-gradient(90deg, #672280 1.18%, #8E25B3 62.73%, #A626D3 100%);
}

header div {
  display: flex;
  align-items: center;
  gap: 10px;
}

header div img {
  display: block;
  max-width: 32px;
  height: auto;
}

header div h1 {
  font-family: 'Karla';
  font-size: 20.7482px;
  letter-spacing: -0.1em;
  color: white;
}

header p {
  font-size: 12px;
}

.meme{
  padding: 36px;
}

.meme-text{
  display: grid;
  grid-template: 35px 40px / 1fr 1fr;
  gap: 15px;
  margin-bottom: 15px;
}

.meme-text input{
  width: 230px;
  border-radius: 5px;
  border: #D5D4D8 1px solid;
  font-size: 15px;
  text-indent: 10px;
}

.meme-text input:focus{
  outline: #711F8D 1px solid;
}

.meme-button{
  grid-column: 1 / -1;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 5px;
  border: none;
  color: white;
  font-family: 'Karla';
  font-size: 16px;
  letter-spacing: -0.05em;
  cursor: pointer;
}

.meme-button:active{
  transform: scale(0.99);
  transition: transform 0.1s;
}

.meme-button:focus{
  outline: 5px solid #b4cbf6;
}

.meme-img{
  height: auto;
  display: grid;
  place-content: center;
  position: relative;
  min-height: 310px;
}

.meme-img img{
  display: block;
  max-width: 100%;
  height: auto;
}

.meme--text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-width: 80%;
  margin: 15px 0;
  padding: 0 5px;
  text-align: center;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}